# part-1

In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1+1

2

In [4]:
1*2

2

In [8]:
1/2

0.5

In [9]:
2**4

16

In [7]:
'g'

'g'

In [11]:
2+3*5+5

22

(2+3)*(5+5)

In [12]:
(2+3)*(5+5)

50

In [13]:
4%2

0

In [14]:
5%2

1

In [15]:
var=2

In [16]:
var

2

In [19]:
x=2
y=3

In [20]:
x+y

5

In [21]:
'This is chintan gehlot'

'This is chintan gehlot'

In [22]:
"This is Chintan fehlot"

'This is Chintan fehlot'

In [23]:
x="hellow"

In [24]:
x

'hellow'

In [25]:
num=20
name="Chintan"

In [28]:
print(f"my name is {name} and I am {num} years old")

my name is Chintan and I am 20 years old

In [30]:
print("my name is {} and age is {}".format(name,num))

my name is Chintan and age is 20

In [31]:
my_list=['a','b','c']

In [32]:
my_list.append('d')

In [33]:
my_list

['a', 'b', 'c', 'd']

In [34]:
my_list[0]

'a'

In [35]:
my_list[1:3]

['b', 'c']

In [36]:
my_list[0]="chintan"

In [37]:
my_list

['chintan', 'b', 'c', 'd']

In [38]:
nested_list=[1,2,3,[4,5,["chintan"]]]

In [39]:
nested_list[3][2][0]

'chintan'

# part-2

In [41]:
d={'key1':'value','key2':'123'}

In [42]:
d['key1']

'value'

In [43]:
d1={'k1':[1,2,3]}

In [44]:
d1['k1'][1]

2

In [46]:
my_slist=d1['k1']

In [47]:
my_slist[1]

2

In [50]:
d3={'k1':{'innerkey':[1,2,3]}}

In [51]:
d3['k1']['innerkey'][1]

2

In [52]:
my_list=[1,2,3]
my_list[0]="chintan"

In [53]:
my_list

['chintan', 2, 3]

In [55]:
tuple=(1,2,3)

In [56]:
tuple[0]

1

In [57]:
tuple[0]=45            #tuple object doesnot support assignment

TypeError: 'tuple' object does not support item assignment

In [58]:
{1,2,3}

{1, 2, 3}

In [59]:
{1,1,2,3,44}           #sets are the collection of unique data

{1, 2, 3, 44}

In [60]:
set([1,2,1,3,4,3,5,6,5])

{1, 2, 3, 4, 5, 6}

In [61]:
s={1,2,3}
s.add(5)
s

{1, 2, 3, 5}

In [62]:
1<2 and 3>4

False

In [63]:
1<2 or 3>4

True

# part-3

In [1]:
seq=[1,2,3,4,5]
for i in seq:
    print(i)

1
2
3
4
5

In [3]:
for num in seq:
    print("hello")

hello
hello
hello
hello
hello

In [ ]:
i=1
while i<5:
    print(i)
    i+=1

In [3]:
t=lambda i:[i**2 for i in range(0,5)]

In [5]:
print(t(2))

[0, 1, 4, 9, 16]